<html>
<head>
    <title>
        ip addres configuration

</title>
    <style>
        body{
            background: aqua;
            color: red;
        }
        h2{
            color: blue;
        }
    </style>
</head>
<body>
<h2>welcome to IP configuration</h2>
<h3>your ip addres {{ ip }}</h3>
<h3>your continent_code {{ continent_code }}</h3>
<h3>your continent_name {{ continent_name}}</h3>
<h3>your country_code {{ country_code}}</h3>
<h3>your region_code {{ region_code}}</h3>
<h3>your region name {{ region_name}}</h3>
<h3>your city name :{{ city }}</h3>
</body>
</html>